figure.thumb {
  padding: 0.75em;
  border: solid 1px #eee;
}

figure.float-right {
  float: right;
  margin: 0 0 1em 1em;
}

figure.center {
  margin: 0 auto;
}

figcaption > p:only-child { margin: 0 }

figcaption {
  font-size: 0.9em;
}

/* Fix indentation for table of contents */
.toc__menu ul li ul li a {
	padding-left: 25px;
}

.toc__menu ul li ul li ul li a {
	padding-left: 45px;
}

.toc__menu ul li ul li ul li ul li a {
	padding-left: 65px;
}
