figure.thumb {
  padding: 0.75em;
  border: solid 1px #eee;
}

figure.float-right {
  float: right;
  margin: 0 0 1em 1em;
}

figure.center {
  margin: 0 auto 1em;
  text-align: center;
}

figcaption > p:only-child { margin: 0 }

figcaption {
  font-size: 0.9em;
}

.inline-items {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.post__header.with-cover {
  min-height: 300px;
  background-size: cover;
  background-position: center;
  min-height: 300px;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 0 25px 0;
  margin-left: -25px;
  margin-right: -25px;
}

.post__header.with-cover h1,
.post__header.with-cover .post__meta * {
  color: #eee;
}
.post__header.with-cover .post__meta,
.post__header.with-cover h1 {
  border: 0;
  /* background: linear-gradient(90deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.2) 35%, rgba(255,255,255,0) 100%); */
  padding-left: 25px;
  padding-right: 25px;
}

.post__header.with-cover .post__meta {
  text-shadow: #444 1px 1px 1px;
}
.post__header.with-cover h1 {
  text-shadow: #444 2px 2px 1px;
}

/* Fix indentation for table of contents */
.toc__menu ul li ul li a {
	padding-left: 25px;
}

.toc__menu ul li ul li ul li a {
	padding-left: 45px;
}

.toc__menu ul li ul li ul li ul li a {
	padding-left: 65px;
}

.table-slim table,
table.table-slim {
  width: auto;
}

kbd {
  display: inline-block;
  border-radius: 3px;
  padding: 0px 4px;
  box-shadow: 1px 1px 1px #777;
  margin: 2px;
  font-size: small;
  vertical-align: text-bottom;
  background: #eee;
  font-weight: 500;
  color: #555;
  font-weight: 600;
}
